<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Greeting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Hallo</h1>
    Datum: <span th:text="${today}"></span>
    <div class="list-group" style="max-width:300px;">
        <a href="/patient/list" class="list-group-item">Patientenliste</a>
        <a href="/patient/add" class="list-group-item">Neuen Patienten anlegen</a>
        <a href="/geraete/list" class="list-group-item">Geräteliste</a>
        <a href="/geraete/add" class="list-group-item">Neues Gerät anlegen</a>
        <a href="/reservation/list" class="list-group-item">Alle Reservierungen</a>
        <a href="/reservation/add" class="list-group-item">Neue Reservierung</a>
    </div>
</div>
</body>
</html>